/* font-family: 'Montserrat', sans-serif; */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.top-half {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-width: 100%;
  /* min-height: 60%; */
}

.til, .sci-hist, .news {
  width: 33%;
}

.sci-hist {
  display: flex;
  flex-direction: column;

  margin: 0 15px;
}

.lower-half {
  display: flex;
  flex-direction: column;

  min-width: 100%;
  /* min-height: 30%; */
}

.vocab, .brainteaser {
  display: flex;
  flex-direction: row;
}

.til, .science, .history, .news, .vocab, .brainteaser {
  height: 100%;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 3px;

  background: #6a9db5;
  color: white;
}
