/* font-family: 'Montserrat', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  padding: 20px 100px;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 130px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.snippets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  height: 55%;
}

.left-half {
  /* margin-right: 10px; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 67%;
  height: 65%;
}

.left-top {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.section {
  margin: 10px;
  padding: 12px;

  border-radius: 3px;
  box-sizing: border-box;

  background: #e3e9f2;
  color: black;
}

.hidden {
  display: none;
}

h3 {
  padding-bottom: 6px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

p {
  /* font-family: 'Lato', sans-serif; */
  font-size: 20px;
  font-weight: 300;
}

.fact {
  width: 50%;
}

.brainteaser {
  width: 50%;
  box-sizing: border-box;
}

.vocab {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vocab h3 {
  padding-right: 8px;
  padding-bottom: 0;
  border-right: 2px solid black;
}

.vocab p {
  padding-left: 8px;
}

.section {
  margin: 10px;
  padding: 12px;

  border-radius: 3px;
  box-sizing: border-box;

  background: #e3e9f2;
  color: black;
}

.fact {
  width: 50%;
  background-color: rgba(0,0,0,0);
  box-sizing: border-box;
  padding: 0;
}

.tab-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

#grey-alpha {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, .35);
  z-index: -1;
}

#prompt-input {
  color: #fff;
  font-size: 32px;
}

#greeting-h2 {
  color: #fff;
  font-size: 32px;
}

.fact-tab {
  color: black;
  padding: 6px .2vw;
  width: 33%;
  text-align: center;
  font-size: 17px;
  border-radius: 8px 8px 0px 0;
  background-color: #c7cdd6;
}

.fact-tab:hover {
  background-color: #e3e9f2;
}

.selected-tab {
  background-color: #e3e9f2;
}

.fact-div {
  background: #e3e9f2;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 18px;
}
