/* font-family: 'Montserrat', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  padding: 20px 100px;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 130px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.snippets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  height: 55%;
}

.left-half {
  /* margin-right: 10px; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 67%;
  height: 65%;
}

.left-top {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.section {
  margin: 10px;
  padding: 12px;

  border-radius: 3px;
  box-sizing: border-box;

  background: #e3e9f2;
  color: black;
}

.hidden {
  display: none;
}

h3 {
  padding-bottom: 6px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

p {
  /* font-family: 'Lato', sans-serif; */
  font-size: 20px;
  font-weight: 300;
}


.fact {
  width: 50%;
}

.brainteaser {
  width: 50%;
  box-sizing: border-box;
}

.front, .back {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.front h3, .back h3 {
  padding-right: 25px;
  padding-bottom: 0;
  border-right: 2px solid #474747;
}

#voc-partofspeech, #voc-def {
  padding-left: 25px;
}

#voc-word {
  padding-left: 15px;
  font-weight: 400;
}

.click-me {
  padding-left: 15px;
}

.vocab:hover, .brainteaser:hover {
  background: #c7cdd6;
  cursor: pointer;
  transform: scale(1.015);
  transition: all .2s ease-in-out;
}

.vocab {
  /* perspective: 1000px; */
}

.vocab.hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  /* position: relative; */
}

.front, .back {
  backface-visibility: hidden;
  /* position: absolute; */
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}
