.news {
  width: 33%;
  height: 100%;
}

.news-article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

#carousel {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding-left: 10px;
}

.headline {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}

.multimedia {
  width: 80%;
  padding-top: 10px;
  box-sizing: border-box;
}

.copyright {
  font-size: 10px;
  color: gray;
}

.abstract {
  font-size: 15px;
}

/* dots */
.news-controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dot {
  margin: 0 4px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.dot:hover, .active {
  background-color: #888;
}
