.front:hover, .brainteaser:hover {
  background: #c7cdd6;
  cursor: pointer;
  transform: scale(1.015);
  transition: all .2s ease-in-out;
}

.back:hover {
  background: #c7cdd6;
  cursor: pointer;
}

.background {
  background: #e3e9f2;
}

.flipper-container {
  perspective: 1000px;
  position: relative;
  z-index: 1;
}

.flipper-container.flip .flipper {
  transform: rotateY(180deg);
}

.flipper-container, .front, .back {
  position: relative;
}

.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.front, .back, .hide {
  margin: 10px;
  padding: 12px;
  box-sizing: border-box;

  border-radius: 3px;
}

.front, .back {
  display: flex;
  backface-visibility: hidden;
  background: #e3e9f2;
  transition: color 2s;
}

.front {
  transform: rotateY(0deg);
  z-index: 3;
}

.back {
  transform: rotateY(180deg);
  z-index: 3;
}

.hide {
  display: none;
  color: #e3e9f2;
  transition: color 2s;
}

/* .front-box, .back-box {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 10px;
  padding: 12px;

  border-radius: 3px;
  box-sizing: border-box;

  background: #e3e9f2;
  color: black;
} */

.vocab-title {
  padding-right: 25px;
  padding-bottom: 0;
  border-right: 2px solid #474747;
}

#voc-partofspeech, #voc-def {
  padding-left: 25px;
}

#voc-word {
  padding-left: 15px;
  font-weight: 400;
}
