.background {
  background: #e3e9f2;
}

.vocab-flipper-container {
  margin: 10px 0;
  z-index: 1;

  display: flex;
  align-items: center;
  height: 25%;
}

.vocab-flipper-container.flip .vocab-flipper {
  transform: rotateY(180deg);
}

.vocab-flipper-container, .vocab-front, .vocab-back {
  position: relative;
}

.vocab-flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  z-index: 2;
  width: 100%;
  border-radius: 3px;
}

.vocab-front, .vocab-back, .hide {
  margin: 10px;
  padding: 12px;
  box-sizing: border-box;

  border-radius: 3px;
}

.vocab-front, .vocab-back {
  display: flex;
  backface-visibility: hidden;
  background: #e3e9f2;
  transition: color 2s;
}

.vocab-front {
  transform: rotateY(0deg);
  z-index: 3;
}

.vocab-back {
  transform: rotateY(180deg);
  z-index: 3;
}

.vocab-front:hover {
  background: #d0d5dd;
  cursor: pointer;
  transform: scale(1.015);
  transition: all .2s ease-in-out;
}

.vocab-back:hover {
  background: #d0d5dd;
  cursor: pointer;
}

.hide {
  display: none;
  color: #e3e9f2;
  transition: color 2s;
}

/* vocab snippet content */
.vocab-title {
  padding-right: 25px;
  padding-bottom: 0;
  border-right: 2px solid #474747;
}

#voc-partofspeech, #voc-def {
  padding-left: 25px;
}

#voc-word {
  padding-left: 15px;
  font-weight: 400;
}
